*{
  margin: 0;
  padding: 0;
  
}


.background {

  width: 100vw;;
  height: 100vh;
  background-color: grey;
}

.starting-options{
  height: 400px;
  
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.game-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 30px;
}

.start-button {
  font-size: large;
  background-color: darkgreen;
  padding: 5px;
}

.start-button:hover{
  border-color: aliceblue;
}